// Colors
$white: #fff;
$main: #ff911b;
$main-hover: darken($main, 5%);
$dark-white: #f6f6f6;
$dark: #000;
$green: #5fe25f;
$grey: #9c9999;
$blue: #1557ff;
$dark-blue: #233d73;
$light-grey: #a9a8a8;
$grey: #a6a9b6;
$orange: rgba(244, 114, 22, 1);
$light-orange: rgba(244, 114, 22, 0.7);
$yellow: #fae578;
$black: #353333;
$border-color: #e7e7e7;
$theme-color: #f7f8f9;
$red: red;

$box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);

$font: 'Exo 2',Noto Sans, sans-serif;
