.footer{
  padding: 50px 0 10px;
  background: #f6f6f6;
}
.footer-box{

  &__title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: .8rem;
  }

  &__list{


    &-item{
      padding-bottom: 10px;

    }


    &--end{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: row;

      @include mobile{
        justify-content: flex-start;
        flex-wrap: wrap;
      }

      .footer-box__list-item{
        padding-left: 20px;
        display: flex;
        font-size: 16px;
        align-items: center;
        @include mobile{
          padding-left: 0;
        }


        .footer-box__list-item--name{
          margin-left: 1rem;
        }

        img{
          width: 50px;

        }
      }
    }
  }
}

.footer-end{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  color: $grey;
  @include mobile{
    flex-wrap: wrap;
  }
}

.footer-list{
  display: flex;
  align-items: center;
  margin: 0 -10px;

  @include mobile{
    flex-wrap: wrap;
    text-align: center;
  }


  &__item{
    padding: 0 10px;
  }

  &__site{
    margin: 0 -5px;
    @include mobile{
      order: 2;
      margin-top: 2rem;
    }
    &-item{
      padding: 0 5px;
      @include mobile{
        width: 100%;
      }
    }
  }
}
